/* 
    Created on : Dec 19, 2016, 1:51:53 PM
    Author     : sureshadhikari
*/
h1{
    margin: auto;
    height: 60px;   
    color: #3E0404;
    background-color: #F7F0F0;
    font-size: 30pt;
}

#inputpart{
    background-color: #cccccc;
}

#result{
    background-color: #dcd8d8;
}

