/* 
    Created on : Dec 19, 2016, 1:51:53 PM
    Author     : sureshadhikari
*/
h1{
    margin: auto;
    height: 60px;   
    background-color: #cfcccc;
    font-size: 30pt;
}

#inputpart{
    margin: auto;
    background-color: #e9e6e6;
    line-height: 90px;
}

#inputpart label{
    line-height: 100%;
    vertical-align: middle;
}

#inputpart button{
    line-height: 100%;
    vertical-align: middle;
}

#content{
    margin: auto;
    background-color: #fbf9f9;
}

